<mat-toolbar class="position-fixed" color="primary" style="height: 45px;">
    <button mat-icon-button aria-label="menu" class="menu" >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <!-- (click)="sidenav.toggle()" -->