
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav opened="true" [disableClose]="false" mode="over" #sidenav style="box-shadow: none; visibility:visible;">
      <mat-nav-list>
        <a id="home" (click)="goLocation(task.location, task.name)" mat-list-item routerLinkActive="active"
          *ngFor="let task of tasks">
          <mat-icon matListAvatar>grid_on</mat-icon>
          <h3 matLine>{{task.name}}</h3>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="margin-left: 260px; text-align: right;">
        <div class="map-container">
          <app-map></app-map>
          <div>
            <div class="example-button-row" style="margin-top: 10px;">
              <form class="example-form">
                <mat-form-field>
                  <mat-label>Task</mat-label>
                  <input matInput [formControl]="geoTaskFormControl" [errorStateMatcher]="matcher" #tName>
                  <mat-error *ngIf="geoTaskFormControl.hasError('required')">
                    Task is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
  
                <mat-form-field>
                  <mat-label>Location</mat-label>
                  <input matInput [(ngModel)]="coordinate" [formControl]="geoLocationFormControl" [errorStateMatcher]="matcher" #tLocation>
                  <mat-error *ngIf="geoLocationFormControl.hasError('required')">
                    Location is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
  
                <mat-form-field>
                  <mat-label>Details</mat-label>
                  <input matInput #tDetails>
                </mat-form-field>
  
                <button mat-raised-button color="primary" (click)="addTask(tName, tDetails, tLocation)">Add
                  Location</button>
                <button mat-raised-button color="primary"  (click)="delTask(tobeDelete)">Delete</button>
             
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- <router-outlet>
                </router-outlet> -->
    </mat-sidenav-content>
  </mat-sidenav-container>