<mat-sidenav opened="true" [disableClose]="false" mode="over" #sidenav style="box-shadow: none; visibility:visible;">
    <mat-nav-list>
      <a id="home" mat-list-item routerLinkActive="active"
        *ngFor="let task of tasks">
        <mat-icon matListAvatar>grid_on</mat-icon>
        <h3 matLine>{{task.name}}</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- (click)="goLocation(task.location, task.name)" -->