/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";
body {
    margin: 0;
    font-family: "Segoe UI", Roboto, sans-serif;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    display:none;
}

.map-container {
  position: absolute;
  height: 400px;
  width: calc(75% - 20px) !important;
 }
 
 .map-frame {
   border: 2px solid black;
   height: 100%;
 }
 
 #map {
   height: 100%;
 }